body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2704px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2704px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1344px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:55px;
  top:300px;
  width:1310px;
  height:152px;
  font-family:'Helvetica Light Oblique', 'Helvetica';
  font-weight:200;
  font-style:italic;
  font-size:60px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:152px;
}
#u3 {
  position:absolute;
  left:30px;
  top:40px;
  width:1278px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:65px;
  top:50px;
  width:170px;
  height:137px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:137px;
}
#u5 {
  position:absolute;
  left:2px;
  top:60px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1200px;
  top:321px;
  width:110px;
  height:110px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u7 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:65px;
  top:580px;
  width:232px;
  height:60px;
  font-family:'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  font-size:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:60px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:28px;
  top:674px;
  width:699px;
  height:826px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:836px;
}
#u10_img.selected {
  left:-4px;
  top:-3px;
}
#u10.selected {
}
#u11 {
  position:absolute;
  left:2px;
  top:405px;
  width:695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:736px;
  top:674px;
  width:662px;
  height:826px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:836px;
}
#u12_img.selected {
  left:-4px;
  top:-3px;
}
#u12.selected {
}
#u13 {
  position:absolute;
  left:2px;
  top:405px;
  width:658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:36px;
  top:1550px;
  width:699px;
  height:826px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:836px;
}
#u14_img.selected {
  left:-4px;
  top:-3px;
}
#u14.selected {
}
#u15 {
  position:absolute;
  left:2px;
  top:405px;
  width:695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:748px;
  top:1554px;
  width:664px;
  height:820px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:830px;
}
#u16_img.selected {
  left:-4px;
  top:-3px;
}
#u16.selected {
}
#u17 {
  position:absolute;
  left:2px;
  top:402px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:405px;
  top:1400px;
  width:320px;
  height:72px;
  font-family:'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#00CC00;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:72px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1123px;
  top:1400px;
  width:275px;
  height:72px;
  font-family:'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFCC00;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:72px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:405px;
  top:2280px;
  width:320px;
  height:72px;
  font-family:'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFCC00;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:72px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1123px;
  top:2280px;
  width:275px;
  height:72px;
  font-family:'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FF0000;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:72px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:898px;
  top:580px;
  width:500px;
  height:84px;
  font-family:'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:84px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:496px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:878px;
  top:451px;
  width:520px;
  height:137px;
  font-size:50px;
  color:#FFFFFF;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:137px;
}
#u29 {
  position:absolute;
  left:0px;
  top:10px;
  width:520px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
#u22.a {
}
#u24.a {
}
#u26.a {
}
#u28.a {
}
