body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1228px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-32px;
  top:2648px;
  width:1292px;
  height:50px;
  font-size:28px;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:50px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:714px;
  width:900px;
  height:66px;
  font-family:'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  font-size:48px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:66px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:190px;
  top:780px;
  width:1000px;
  height:110px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:110px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u5 {
  position:absolute;
  left:190px;
  top:960px;
  width:900px;
  height:66px;
  font-family:'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  font-size:48px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:66px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:193px;
  top:1030px;
  width:1000px;
  height:110px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:110px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u8 {
  position:absolute;
  left:190px;
  top:566px;
  width:850px;
  height:120px;
  font-family:'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  font-size:72px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:120px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:580px;
  top:1252px;
  width:280px;
  height:98px;
  font-size:48px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:98px;
}
#u11 {
  position:absolute;
  left:2px;
  top:20px;
  width:276px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:910px;
  top:1252px;
  width:280px;
  height:98px;
  font-size:48px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:98px;
}
#u13 {
  position:absolute;
  left:2px;
  top:20px;
  width:276px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:190px;
  top:1674px;
  width:800px;
  height:66px;
  font-size:48px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:66px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:190px;
  top:1824px;
  width:1050px;
  height:86px;
  font-size:48px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:86px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:190px;
  top:1950px;
  width:1070px;
  height:130px;
  font-size:48px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:130px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:190px;
  top:160px;
  width:373px;
  height:185px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:185px;
}
#u25 {
  position:absolute;
  left:2px;
  top:84px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
